body {
    padding: 0;
    margin: 0;
}

#ft {
    height: 21px
    margin: 2px 5px;
    width: 75%;
}

#lft {
    width: 20%;
}
#function {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 25px;
    width: 100%;
    font-size: 0.75em;
    text-align: center;
}
#watermark {
   position: absolute;
   top: 1px;
   right: 1px;
   font-size: 0.5em;
}
#watermark a {
  color: #77f;
  opacity: 0.3;
  text-decoration: none;
}
.moving {
    cursor: move;
}