#ft {
    border: 1px solid #888;
    background-color: #111;
    color: #888;
}
.error {
    color: #955 !important;
}
#function {
    background-color: #222;
    color: #888;
}
.bg {
   color: #222;
}
.axis {
   color: #444;
}
.ticknum {
   color: #448;
}
.line-color-0 {
    color: #888;
}
.line-color-1 {
    color: #a5d79f;
}
.line-color-2 {
    color: #f48a8a;
}
.line-color-3 {
    color: #a2bbff;
}
.line-color-4 {
    color: #e2b0ff;
}
.line-color-5 {
    color: #e1da84;
}
.line-color-6 {
    color: #bacdf8;
}
.line-color-7 {
    color: #67b25f;
}
.line-color-8 {
    color: #bf4646;
}
.line-color-9 {
    color: #516083;
}
.line-color-10 {
    color: #ca6eff;
}
.line-color-11 {
    color: #cfc44e;
}
.line-color-12 {
    color: #bacdf8;
}
.line-color-13 {
    color: #92b2f8;
}
.line-color-14 {
    color: #fff;
}
.line-color-15 {
    color: #000;
}


