.App {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.wrapper {
  flex: 1 1 auto;
  overflow: hidden;
  height: 0;
}

.function {
  font-size: 0.75em;
  text-align: center;
  display: flex;
}
.function input {
  margin: .5em 1em;
  padding: 1em;
  font-size: 1.5em;
  font-family: monospace;
  flex: 1;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  outline: none;
  min-width: 0;
}

.theme-switcher {
  position: fixed;
  right: 0;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.2);
  font-family: monospace;
  font-size: 1.5em;
  z-index: 1;
  padding: 0.5em;
  margin: 0.5em;
}
.theme-switcher::selection {
  background: transparent;
  color:rgba(255, 255, 255, 0.8)
}
